body {

    background-color:white;
    text-align: center;
    background-image: url(../homepage/assests/Inner\ Circle2.jpg);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: center;
}

.header {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    background-color: white;
    padding-right: 50px;
    color: black;
    height: 56px;
    border-bottom: 2px solid #5f899f;
    

}

.brand {
    grid-column: 2;
}

.brand img {
    grid-column: 2;
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 5px;
    background-color:white;
    height: 50px;
    width: 50px;
}

.liveScores {
    min-width: 8em;
    position:relative;
    grid-column: 3;
    color: black;
    padding-top: 15px;
    display: grid;
    justify-content: start;
}

.liveScores a {
    text-decoration: none;
    color:black;
    padding-right: 10px;
}

.myBets {
    min-width: 8em;
    position:relative;
    grid-column: 4;
    color:black;
    padding-top: 15px;
    display: grid;
    justify-content: start;
    
}

.mybets a {
    text-decoration: none;
    color:black;
}

.aboutUs {
    min-width: 8em;
    position:relative;
    grid-column: 5;
    text-decoration: none;
    padding-top: 15px;
}

.aboutUs a {
    text-decoration: none;
    color:black;
    grid-column: span 6;
}

.dropdown {
    min-width: 8em;
    position:relative;
    grid-column: 19;
    text-align: center;
    color: white;
    display:grid;
    justify-content: end;
    align-content: start;
    padding-top: 10px;
    padding-right: 10px;

}

.dropdown * {
    box-sizing: border-box;
}

.select {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    padding-top: 10px;
}

.selected {
    color:black;
    
}

.grid{
    grid-column: 20;
    text-align: center;
    color: white;
    padding-top: 10px;
}

.search {
    grid-column: 21;
    text-align: center;
    color:white;
    padding-top: 10px;
}

.profile {
    grid-column: 22;
    text-align: center;
    color:white;
    padding-top: 10px;
}

.container {

    display: grid;
    grid-template-columns: 2 repeat(1fr);
    gap: 20px;
    grid-column: 1 span 3;
    text-align: center;
    justify-items: center;
}
 
body a {

    text-decoration: none;
    color: black;
    grid-column: 1;
    
}

body lsm {

    color:black;
    grid-column: 1 span 3;
    font-size:60px;
    
}

.logo img {

    height: 50px;
    width: 50px;
}

.lucas img {

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 
        0 0 10px black,
        0 0 20px black;

}

.lucas {
    
    position: relative;
    justify-content: center;
    background-color: #263645;
    color: #5f899f;
    grid-column: 2;
    grid-row: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 400px;
    height:600px;
    text-align: center;  
}

.lucas:after {

    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter:blur(40px);

}

.lucas:before,
.lucas:after {

    background: linear-gradient(135deg,black,black,black);
}

.mason img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 
        0 0 10px black,
        0 0 20px black;
}

.mason {
    position: relative;
    justify-content: center;
    background-color: #263645;
    color: #5f899f;
    grid-column: 1;
    grid-row: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 400px;
    height:600px;
    text-align: center;
}

.mason:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter:blur(40px);
}

.mason:before,
.mason:after {

    background: linear-gradient(135deg,black,black,black);

}

.twalib img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 180px;
    box-shadow: 
    0 0 10px black,
    0 0 20px black;
}

.twalib {
    position: relative;
    justify-content: center;
    background-color: #263645;
    color: #5f899f;
    grid-column: 1;
    grid-row: 2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 400px;
    height:600px;
    text-align: center;
}

.twalib:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter:blur(40px);
}

.twalib:before,
.twalib:after {
    background: linear-gradient(135deg,black,black,black);
}

.jorge img {

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 180px;
    box-shadow: 
    0 0 10px black,
    0 0 20px black;
}

.jorge {
    position: relative;
    justify-content: center;
    background-color: #263645;
    color: #5f899f;
    grid-column: 2;
    grid-row: 2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 400px;
    height:600px;
    text-align: center;
}

.jorge:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter:blur(40px);
}

.jorge:before,
.jorge:after {

    background: linear-gradient(135deg,black,black,black);

}