.body {
  background-color: #5f899f;
}

#logo {
    display: block;
    margin:auto;
    height: 100px;
    width: 150px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

#text {
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    justify-content: center;
}

.whole {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box {
    
    margin-right: auto;
    
}

#username {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

#password {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#heading {
    display: flex;
    justify-content: center;
    
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

#buttonclick {
    width: 120px;
}

#bar1 {
    display: flex;
    justify-content: center;
    width: 13rem;
    margin-bottom: 0px;
}

#bar2 {
    display: flex;
    justify-content: center;
    width: 13rem;
}

ion-icon {
    font-size: 25px;
}

.icon {
    color: white;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    justify-content: space-evenly;
}

#footer {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: #212529;
    width: 100%;
    padding: 12px;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerlist {
    display: inline-block;
    line-height: 24px;
    padding: 8px 12px;
}

.link-one {
    text-decoration: none;
    color: white;
}

.link-two {
    text-decoration: none;
    color: white;
}

.link-three {
    text-decoration: none;
    color: white;
}

.link-four {
    text-decoration: none;
    color: white;
}

.link-five {
    text-decoration: none;
    color: white;
}