.header {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    background-color: black;
    padding-top: 5px;
    padding-right: 50px;
    height: 70px;
  }
  
  .brand {
  
    grid-column: 2;
  }
  
  .brand img {
  
    grid-column: 2;
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 5px;
    background-color: black;
    height: 60px;
    width: 60px;
  }
  
  .nba {
  
    grid-column: 3;
    padding-top: 5px;
    padding-left: 10px;
    background-color: black;
    height: 50px;
  }
  
  .nba img {
    
    height: 50px;
    width: 35px;
    background-color: black;
    padding-bottom: 5px;
  }
  
  .liveScores {
    min-width: 8em;
    position:relative;
    grid-column: 4;
  }
  
  .myBets {
    min-width: 8em;
    position:relative;
    grid-column: 4;
    padding-top: 15px;
  }

  .myBets a {
    text-decoration: none;
    color: white;
  }
  
  .aboutUs {
    min-width: 8em;
    position:relative;
    grid-column: 5;
    text-decoration: none;
    padding-top: 15px;
  }
  
  .aboutUs a {
    text-decoration: none;
    color: white;
    grid-column: span 4;
  }
  
.dropdown {
  min-width: 8em;
  position:relative;
  grid-column: 19;
  text-align: center;
  color: white;
  display:grid;
  justify-content: end;
  align-content: start;
  padding-top: 10px;
  padding-right: 10px;

}
  
  .dropdown * {
    box-sizing: border-box;
  }
  
  .home {
    grid-column: 19;
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  
  .grid{
    grid-column: 20;
    text-align: center;
    color: white;
    padding-top: 10px;
  
  }
  
  .search {
    grid-column: 21;
    text-align: center;
    color:white;
    padding-top: 10px;
  
  }
  
  .profile {
    grid-column: 22;
    text-align: center;
    color:white;
    padding-top: 10px;
  
  }

.link{
justify-content:space-between;
text-emphasis-color: white;
grid-template-columns:row;
word-spacing: 50px;
padding: 8px;
color: black;
}

.profile {
    grid-column: 22;
    text-align: center;
    color:white;
    padding-top: 10px;
}